[Unit]
Description=Python HTTP Server (rodando ReSo flutter)
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m http.server 5500
WorkingDirectory=/root/projects/reso_web
Restart=always
User=root

[Install]
WantedBy=multi-user.target
